body {
	background: url("TCU.png");
	background-repeat: no-repeat;
   background-position: absolute;
   background-top: 0px;
   background-right: 0px;
   background-height: 60%;
   background-width: auto;
	}
